dev.wwr.icu {
    tls me@wwr.icu
    encode gzip

    handle_path /api* {
        reverse_proxy {
            to http://basic-service:8000
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle_path /admin* {
        root * /admin-page
        file_server
        try_files {path} {path}/ /index.html
    }

    handle_path /* {
        reverse_proxy {
            to http://blog-page:3000
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
