name: Deploy all
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  reset:
    uses: ./.github/workflows/clean_deploy.yml
    secrets: inherit
  deploy:
    runs-on: ubuntu-latest
    needs: reset
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ADMIN_HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker pull wwricu/basic-service:latest
            docker pull wwricu/admin-page:latest
            docker pull wwricu/blog-page:latest
            docker stop $(docker ps -aq)
            docker rm $(docker ps -aq)
            cd /data/deploy
            docker-compose -f docker-compose.yml up -d
            docker image prune -f
