name: Deploy blog
on:
  workflow_dispatch:
jobs:
  reset:
    uses: ./.github/workflows/clean_deploy.yml
    secrets: inherit
  deploy:
    runs-on: ubuntu-latest
    needs: reset
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ADMIN_HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker pull wwricu/blog-page:latest
            docker stop blog-page
            docker rm blog-page
            cd /data/deploy
            docker-compose -f docker-compose.yml up -d
            docker image prune -f
