name: Dev proxy snapshot
on:
  workflow_dispatch:
jobs:
  reset:
    uses: ./.github/workflows/clean_deploy.yml
    secrets: inherit
  deploy:
    runs-on: ubuntu-latest
    needs: reset
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ADMIN_HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker pull wwricu/bad-proxy-core:snapshot
            docker stop bad_proxy
            docker rm bad_proxy
            cd /data/deploy
            docker-compose -f docker-compose.yml -f docker-compose.proxy.dev.yml up -d bad_proxy
            docker image prune -f
