name: Dev all snapshot
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  reset:
    uses: ./.github/workflows/clean_deploy.yml
    secrets: inherit
  deploy:
    runs-on: ubuntu-latest
    needs: reset
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ADMIN_HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker pull wwricu/basic-service:snapshot
            docker pull wwricu/admin-page:snapshot
            docker pull wwricu/blog-page:snapshot
            docker stop $(docker ps -aq)
            docker rm $(docker ps -aq)
            cd /data/deploy
            docker-compose -f docker-compose.yml \
                           -f docker-compose.admin.dev.yml \
                           -f docker-compose.page.dev.yml \
                           -f docker-compose.service.dev.yml up -d
            docker image prune -f
